@import url('https://fonts.googleapis.com/css?family=Pacifico');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary {
    background:hsl(225, 50%, 17%);
}

.bg-secondary {
    background: hsl(210, 45%, 21%);
}

.bg-accent {
    background: hsl(239, 100%, 73%);
}

.text-accent {
    color:hsl(239, 100%, 73%);
} 

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 

nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: hsl(239, 100%, 73%);
}

h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}